footer {
    padding: 1rem 0 1rem 0;
    background-color: rgba(97, 94, 94, 0.081);
}

h3 a {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.866) !important;
    text-decoration: none;
}

h4 {
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.866) !important;
    text-decoration: none;
}

.footer-about h3 a :hover {
    color: #f0702c !important;
}

.row .col .row a {
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}

.row .col .row a:hover {
    color: #f0702c !important;
}

.form-control {
    padding: 10px 22px;
    border-radius: 2px;
    font-size: 14px;
}

.form-control:hover {
    border: 1px solid #f0702c;
}

.catTab8 {
    padding: 10px 28px !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
    top: 8px;
    background-color: #f0702c !important;


}

.row .col {
    margin: 5px 0px;
    padding: 2px 18px;
}

.row .col img:hover {
    color: #f0702c;
    cursor: pointer;
}