* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.container-fluid {
  padding: 0px 35px;
}

.cursor {
  cursor: pointer;
}

.bg-o,
.bg-success {
  background: #f0702c !important;

}

.text-g {
  color: #6e6e73;
}

.hd {
  font-size: 32px;
  font-weight: 600;
}

.transition {
  transition: all 0.3s ease-in-out;
}